.board_row
    = link_to board_path(board) do
        .board
            .board_header
                .board_title
                    = board.title
            .board_content
                = board.content
            .board_detail
                = image_tag board.user.avatar_image
    - if board.user == current_user
        .board_actions
            .dropdown
                = image_tag 'actions.png'
                .dropdown-content.mini
                    = link_to 'Edit', edit_board_path(board)
                    = link_to 'Delete', board_path(board), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' }